## What is and Why we are using seaborn?

### What is it?

### Why we are using it?

<hr>

In [2]:
# we need to import its library
import seaborn as sns
%matplotlib inline

In [3]:
# import built-in dataset of seaborn
tips = sns.load_dataset('tips')

# show the first 5 row of dataset
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

## Distribution plot
- distplot
- joinplot
- pairplot
- rugplot
- kdeplot

### displot

### jointplot

### pairplot

### rugplot

### kdeplot

<hr>

## Categorical plot

- barplot vs countplot
- boxplot vs violinplot
- stripplot vs swarmplot
- factorplot